<h1>Heroes<h1>
<hr>

<div class="row">
    <div class="col-12 text-right">
        <button [routerLink]="['/heroe', 'nuevo']"
                class="btn btn-outline-primary"
                type="button">
        Nuevo heroe</button>
    </div>
</div>
<br>

<div class="row animated fadeIn fast">
    <div class="col-12">

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Casa</th>
                <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let heroe of heroes">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
